*,
html {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Segoe UI", sans-serif;
}
.container-md{
    max-width: 1200px;

}
.navbar-brand {
    font-size: 25px;
}

.navbar-brand span {
    color: red;
    font-weight: 600;
}

.nav-item a {
    font-weight: 600;
    color: white;
}
.nav-item a:hover {
    color: red;
}
.btn {
    border: 1px solid red;
    color: red;
}
.btn:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
}

.card-info {
    display: flex;
    /* width: 1500px; */
    /* max-width: 1300px; */
    height: 375px;
}
.img-info {
    display: flex;
}
.carousel-item {
    margin-top: 20px;
    background-color: #c5c5c5;
}

.box {
    width: 341px;
    height: 183px;
    margin-top: 1.5%;
    margin-right: 5%;
}

.box .apani {
    width: 443px;
    height: 283px;
    top: 0;
    left: 110;
}

.box .overlap {
    position: relative;
    width: 400px;
    height: 283px;
    background-image: url(img/foto2.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.box .backnya {
    position: absolute;
    width: 341px;
    height: 35px;
    top: 248px;
    left: 0;
    background-color: #0000009e;
    filter: blur(4px);
}

.box .text-wrapper {
    position: absolute;
    top: 254px;
    left: 28px;
    font-family: "Koulen-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.buyers {
    padding: 5px;
    width: 785px;
    margin: 20px 0px 20px 10px;
    border: 1px solid rgb(214, 214, 214);
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
}
.buyers h1 {
    font-size: 25px;
    font-family: "segou UI", sans-serif;
    font-weight: 600;
}
.buyers p {
    font-size: 15px;
    font-family: "segou UI", sans-serif;
    font-weight: 600;
}
.adver h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "segou UI", sans-serif;
    text-align: center;
}
.adver h4 {
    margin: 0px 20px 0px 30px;
    border: 1px solid rgb(214, 214, 214);
    background-color: rgb(214, 214, 214);
    height: 100px;
    border-radius: 5px;
}
